.menu{
    background-color: #F2295B;
    width: 900px;
    margin: 0 auto;
    padding:  10px;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    


}
.menu a{
    box-sizing: border-box; /* Não permiti que o tamanho da caixa seja alterado*/

    color: black;
    margin: 10px;
    font-size: 20px;

}
.topmenu {
    padding-bottom: 10px;
}

.topmenu h3{
    
    border-bottom: solid 2px;
    width: 200px;
    margin: 10px auto;


}

.textmenu img{
    width: 45px;
    padding: 0px;
    margin: -10px;
    
    
}

/*
a{
    color: black;
    margin: 10px;
    
    
}
*/
